* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 15px;
  background: #f2f3f5;
}
.layui-col-md6 {
  width: 100%;
}
.layui-form {
  display: flex;
  margin-left: 15px;
}
.layui-form .layui-form-item {
  width: 20%;
}
.layui-form .layui-form-item:nth-child(2) {
  margin: 0 10px;
}
